<!doctype html>
<html>
    <head>
        <title>Time Tracker</title>
    <body>
       <div>
            <a href="{{ url_for('story') }}">Story</a>
            <a href="{{ url_for('create_story') }}">Create Story</a>
            <a href="{{ url_for('create_developer') }}">Add Developer</a>
            <a href="{{ url_for('developer_summary') }}">Developer summary</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
