<html>
    <body>
        <h1>Create Story</h1>
        <form method="POST">
            <p>
                <label for="name">Story Name</label>
                <input id="name" name="story_name" type="text">
            </p>
            <p>
                <label for="description">Story Description</label>
                <input id="description" name="story_description" type="text">
            </p>
            <p>
                <label for="time_expected">Time expected to complete story</label>
                <input id="time_expected" name="time" type="number">
            </p>
            <p>
                <label for="act">Activity</label>
                <input id="act" name="activity" type="checkbox">
            </p>
            <input type="submit" value="Create Story">
        </form>
    </body>
</html>
