<html>
    <body>
        <h1>Create Task</h1>
        <form method="POST">
            <p>
                <label for="name">Task Name</label>
                <input id="name" name="story_name" type="text">
            </p>
            <p>
                <label for="description">Task Description</label>
                <input id="description" name="story_description" type="text">
            </p>
            <p>
                <label for="time_expected">Time expected to complete task</label>
                <input id="time_expected" name="time" type="number">
            </p>
            <p>
                <label for="act">Activity</label>
                <input id="act" type="checkbox" name="check">
                <input id="act" type="hidden" name="check" value="false">
            </p>
            <input type="submit" value="Create Story">
        </form>
    </body>
</html>
