{% block content %}
    <h7></h7>
    <div class="form-group">
        <div id="drop_down">
            <div class="input-group">
                <span class="input-group-addon text_margin"> Please select a developer: </span>
                <div id="border_colour">
                    <select name="developer" class="form-control" id="padding_value">
                        {% for developer in developers %}
                            <option value="{{ developer.id }}">{{ developer.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>`
        </div>
    </div>
{% endblock %}

