{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
{% for story in stories %}
<div><p>The estimated points for the user story <b>{{ story.story_name }}</b> is <b>{{ story.estimated_points }}</b> points</b>.</p></div>
<div><p>Total time to complete the story <b>{{story.story_name}}</b> takes <b>{{story.actual_times_sum}}</b> hours.</p></div>
<div><p>Description of the story <b>{{ story.story_name }}</b>: <b>{{ story.description }}</b></p></div>
<div><p>The status of story <b>{{ story.story_name }}</b> is <b>{{ story.status }}</b> for completion.</p></div>
<form action = "http://127.0.0.1:5000/story/{{ story.id }}" method = "get">
    <input type="submit" value="See Story" name="See Story"/>
</form>
<p></p>
<form action = "http://127.0.0.1:5000/story/{{ story.id }}/update_story" method = "get">
    <input type="submit" value="Update Story" name="Update Story"/>
</form>
{% endfor %}
<h3>Want to create a story?</h3>
<form action = "http://127.0.0.1:5000/create_story" method = "get">
    <input type="submit" value="Create Story" name="Create Story"/>
</form>
<h3>Want to add a developer?</h3>
<form action = "http://127.0.0.1:5000/create_developer" method = "get">
    <input type="submit" value="Add Developer" name="Add Developer"/>
</form>
{% endblock %}