{% extends "base.html" %}

{% block content %}
  <h1>{{ title }}</h1>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Description</th>
        <th>Estimated Points</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for story in stories %}
        <tr>
          <td>{{ story.story_name }}</td>
          <td>{{ story.id }}</td>
          <td>{{ story.description }}</td>
          <td>{{ story.estimated_points }}</td>
          <td>{{ story.status }}</td>
          <td>
          <form action = "http://127.0.0.1:5000/story/{{ story.id }}" method = "get">
            <input class="button_style" type="submit" value="See Story" name="See Story"/>
          </form>
          <form action = "http://127.0.0.1:5000/story/{{ story.id }}/update_story" method = "get">
            <input class="button_style" type="submit" value="Update Story" name="Update Story"/>
          </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="float_left">
    <form action = "http://127.0.0.1:5000/create_story" method = "get">
    <div>
      <b class="padding">Want to create a story?</b>
      <input class="button_style" type="submit" value="Create Story" name="Create Story" style="float: right;"/>
    </div>
    </form>
  </div>
  <p></p>
  <div class="float_left">
    <form action = "http://127.0.0.1:5000/add_developer" method = "get">
    <div>
      <b class="padding">Want to add a developer? </b>
      <input class="button_style" type="submit" value="Add Developer" name="Add Developer" style="float: right;"/>
    </div>
    </form>
  </div>
{% endblock %}
