{% extends "base.html" %}

{% block content %}
<h1>Tasks of story {{story.story_name}}</h1>
    <div><p> Total time to complete all tasks of a story <b>{{story.story_name}}</b> takes <b>{{story.actual_times_sum}}</b> hours.</p></div>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Task name</th>
            <th>Story ID</th>
            <th>Task ID</th>
            <th>Description</th>
            <th>Estimated Points</th>
            <th>Actual taken time</th>
            <th>Interval of taken times</th>
            <th>Iteration</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.task_name }}</td>
                    <td>{{ story.id }}</td>
                    <td>{{ task.task_id }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.estimated_points }}</td>
                    <td>{{ task.actual_times_sum }}</td>
                    <td>
                        {% for time in task.actual_times %}
                            {{time.actual_time}}
                                {% if not loop.last %}
                                    ,
                                {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ task.iteration }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <form action = "http://127.0.0.1:5000/story/{{ id }}/update_task/{{ task.task_id }}" method = "get">
                            <input class="button_style" type="submit" value="Update Task" name="Update Task"/>
                        </form>
                        <form action = "http://127.0.0.1:5000/story/{{ id }}/delete_task/{{ task.task_id }}" method = "post">
                            <input class="button_style" type="submit" value="Delete Task" name="Delete Task"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="float_left">
        <form action = "http://127.0.0.1:5000/story/{{ id }}/create_task" method = "get">
            <div>
                <b class="padding">Want to add a new task?</b>
                    <input class="button_style" type="submit" value="Add Task" name="Add Task" style="float: right;"/>
            </div>
        </form>
    </div>
    <p></p>
    <div class="float_left">
        <form action = "http://127.0.0.1:5000/story/{{ story.id }}/delete_story" method = "post">
            <div>
                <b class="padding">Want to delete this story?</b>
                    <input class="button_style" type="submit" value="Delete Story" name="Delete Story" style="float: right;"/>
            </div>
        </form>
    </div>
{% endblock %}
