{% extends "base.html" %}

{% block content %}
        <h1>Update Story</h1>
        <form method="POST">
            <div><p>{{ story.story_name }}: <b>{{ story.description }}</b></p></div>
            <div><p>Story ID: <b>{{ story.id }}</b></p></div>
            <div><p>To complete it would take <b>{{ story.estimated_time }}</b> minutes and it is <b>{{ story.status }}</b> for activity</p></div>
            <p>
                <label for="name">Story Name:</label>
                <input id="name" name="story_name" type="text" value="{{ story.story_name }}">
            </p>
            <p>
                <label for="description">Story Description:</label>
                <input id="description" name="story_description" type="text" value="{{ story.description }}">
            </p>
            <p>
                <label for="time_expected">Time expected to complete the story in hours:</label>
                <input id="time_expected" name="time" type="number" value="{{ story.estimated_time }}">
            </p>
            <p>
                <label for="act">Status</label>
                <input id="act" type="checkbox" name="check" value="{{ story.status }}">
            </p>
            <input type="submit" value="Update Story">
        </form>
{% endblock %}